version: "3.8"
services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: proyecto/api-usuarios:dev
        container_name: api-usuarios_app
        env_file:
            - .env
        ports:
            - "8000:8000"
        volumes:
            - ./:/var/www/html:cached
        networks:
            - backend

networks:
    backend:
        driver: bridge


